@use 'variaveis';

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color .5s ease;
    z-index: 5;


    &--is-transparent {
        background-color: variaveis.$corDeFundo;
        transition: background-color .5s ease;
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        background-color: transparent;
        align-items: center;
        
    }

    &__menu {
        max-height: 100%;
        display: flex;
        margin: 0;
        
        &__button {
            max-height: 100%;
            font-weight: bold;
            margin-right: 40px;
            color: variaveis.$corTextoSecundario;
            font-size: 14px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            i, svg {
                margin-right: 10px;
            }

            span {
                position: relative; 
    
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -3px; 
                    left: 0;
                    width: 0; 
                    height: 2px;
                    background-color: variaveis.$corTextoSecundario;
                    transition: width 0.3s ease-out; 
                }
            }
    
            &:hover span::after {
                width: 100%; 
            }
        }
    }

    
    &__logo {
        width: auto;
        max-width: 80px;
        padding-right: 10px;
        height: auto;
        margin-right: 55px;
        
    }

    &__perfil {
        
        margin-left: auto;
        display: flex;
        width: 230px;
        justify-content: end;
        
        
        
        
        
        &__config {
            
            
    
            li {
                position: relative;
                
    
                a {
                    width: 240px;
                    max-width: 100%;
                    height: 66px;
                    padding: 0 36px 0 0;
                    display: flex;
                    align-items: center; 
                    justify-content: flex-end; /* Alinha horizontalmente à esquerda */
                    text-decoration: none;
                    color: variaveis.$corTextoSecundario;
                    background-color: transparent;

                    span {
                        margin-right: 20px;
                    }


                    &:hover {
                        background-color: #131313; /* Mantém a cor de fundo */
                    
                        
                        
                    }
    



                }
    
                ul {
                    
                    position: absolute;
                    top: 100%; /* Faz o dropdown aparecer logo abaixo do "Meu Perfil" */
                    left: 0;
                    background-color: #131313;
                    display: none;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    
    
                    li {
                        width: 100%;
                        a {
                            text-align: left;
                            align-items: center;
                            height: 50px;
                            display: block;
                            padding: 10px 20px;
                            color: variaveis.$corTextoSecundario;
                            text-decoration: none;

                            button {
                                font-size: 20px;
                                background-color: #7a7b82;
                                color: #f9f9f9;
                                border-radius: 50%;
                                width: 40px;
                                height: 40px;
                            }
    
                            &:hover {
                                background-color: #131313;
                                
                                

                            }
                        }
                    }
                }


    
                &:hover ul, &.over ul {
                    display: block;
                    border-bottom: 1px solid #fff;

                    
                    
                }
                &:hover > a {
                    background-color: #131313; 
                    
                    
                }

                &:hover a:first-child {
                    border-left: 1px solid #fff;
                    
                    
                }
            }
        }
        
        img {
            width: 48px;
            height: 48px;
            border-radius: 100%;
        }

    }
}


@media (max-width: 768px) {


    
    .header {

        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: transparent;
        transition: background-color .5s ease;
        z-index: 5;


        &--is-transparent {
            background-color: variaveis.$corDeFundo;
            transition: background-color .5s ease;
        }
    
        &__container {
            padding: 8px 36px;
            display: flex;
            background-color: transparent;
            align-items: center;
            
        }

        &__menu {

            max-height: 100%;
            display: flex;
            margin: 0;
            &__button {
                
                margin: 0;
                max-height: 100%;
                font-weight: bold;
                margin-right: 20px;
                margin-top: 10px;
                color: variaveis.$corTextoSecundario;
                font-size: 14px;
                border: none;
                padding-bottom: 5px;
                background: none;
                text-transform: uppercase;
                cursor: pointer;
                border-bottom: 5px solid transparent;

                svg {
                    margin-bottom: 15px;
                }
                i, svg {
                    align-items: center;
                    margin-right: 12px;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -3px; 
                        left: 0;
                        width: 0; 
                        height: 2px;
                        background-color: variaveis.$corTextoSecundario;
                        transition: width 0.3s ease-out; 
                    }
                }
    
                span {
                    display: none; 
        
                    
                }

                &:hover i, svg::after {
                    width: 100%; 
                }
            }
        }

        &__logo {
            width: auto;
            max-width: 80px;
            padding-right: 10px;
            height: auto;
            
        }
    }
}
